torch==2.0.1
torchvision
einops
opencv-python==4.7.0.68
xformers==0.0.21
diffusers==0.25.0
transformers
accelerate
insightface==0.7.3
onnxruntime-gpu==1.16.0
segment-anything
peft==0.8.2
numpy
pillow
gradio==3.36.1
inference[yolo-world]==0.9.13
onnxsim==0.4.35