diffusers==0.25.0
torch==2.0.1
torchvision
transformers==4.36.2
accelerate
einops
onnxruntime-gpu
peft==0.8.2
opencv-python==4.7.0.68
controlnet-aux==0.0.7
xformers==0.0.21
insightface
spaces==0.19.4
segment-anything
gradio==3.36.1
inference[yolo-world]==0.9.13